body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 247, 249);
  color: black;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root{
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

.CreateGmeButton{
  background-color: #61DAFA;
  box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: absolute;
  bottom: 24px;
  right: 24px;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  width: 64px;
  height: 64px;

  /*Trancision lenta*/
  transform: rotate(0);
  transition: .3 ease;
}

.CreateGmeButton:hover{
  transform: rotate(135deg);
}

.GameCounter{
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: normal;
}

.GameCounter span{
  font-weight: bold;
}

.GameItem{
  background-color: rgba(243, 46, 46, 0.671);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.15);
}

.GameItem-active{
  background-color: rgba(37, 219, 46, 0.671);
}

.Item-p{
  margin: 24px 0px 24px 24px;
  width: calc(100% -120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.Item-p--complete{
  text-decoration: line-through;
}

.Icon{
  cursor: pointer;
  display: flex;
  justify-content: center;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: 700;
}

.Icon-check{
  position: absolute;
  left: 12px;
}

.Icon-check--active{
  /* color: green; */
  display: none;
}

.Icon-delete{
  position: absolute;
  right: 0;
  top: 24px;
}

.Icon-delete:hover{
  color: red;
}

.GameList{
  margin: 0;
  padding: 0 0 56px 0;
  list-style: none;
}

.GameSearch {
  background-color: #fafafa;
  border-radius: 6px;
  border:  2px solid #1f1f1f;
  margin: 0 24px;
  height: 64px;
  width: calc(100% - 62px);
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #1f1f1f;
  box-shadow: 0 5px 50px rgba(32, 35, 41, 0.25);
}

.GameSearch::placeholder {
  color: #a5a5a5;
  font-family: 'Montserrat';
  font-weight: 400;
}

.GameSearch:focus{
  outline-color: aqua;
}